@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #262675;
  color: white;

  font-family: 'Noto Sans', sans-serif;
}

.app {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}

@media (max-width: 900px) {
  .app {
    margin: 0;
    width: 100%;
    padding: 10px;
  }
}

.app > p {
  margin: 10px 0;
}

.form, .form input, button {
  font-size: 20px;
  margin: 20px 0;
}

.form input {
  border-radius: 20px;
  padding: 5px 10px;
  border: 0;
  margin: 5px 0 0 0;
}

.form textarea {
  height: 100px;

  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

.form button {
  border-radius: 20px;
  padding: 5px 10px;
  border-style: none;
}

.form--input-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form--error-message {
  color: red;
  font-weight: bold;
}

.form--fieldset {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.form--input-group {
  display: flex;
  flex-direction: column;

  margin: 0 0 20px 0;
}

.form--submit-error {
  color: red;
  font-weight: bold;
}
