@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262675;
  color: white;

  font-family: 'Noto Sans', sans-serif;
}

.app {
  width: 50%;
  margin: auto;
  padding: 20px 0;
}

p {
  margin: 10px 0;
}

.form, .form input, button {
  font-size: 20px;
  margin: 20px 0;
}

.form input {
  border-radius: 20px;
  padding: 5px 10px;
  border: 0;
  margin: 5px 0 0 0;
}

.form textarea {
  height: 100px;

  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

.form button {
  border-radius: 20px;
  padding: 5px 10px;
  border-style: none;
}

.form--fieldset {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.form--input-group {
  display: flex;
  flex-direction: column;

  margin: 0 0 20px 0;
}
